*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.custom-nav{
    background-color: #ffffff !important;
}
.nav-elements {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
  }
  

  .nav-elements .navbar-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    background-color: #fff;
    top: -100%; 
    position: fixed; 
    width: 100%; 
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}

#header.scrolled {
    top: 0; 
}
.heroContainer{
    width: 100%;
    height: 100vh;
    background-color: #101720;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-container{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
span{
    color: #ffffff ;
}
.h1{
    font-size: 200px;
}
.bsb-circle{
    --bsb-cs: 125px;
    border-radius: 50%;
    height: var(--bsb-cs);
    width: var(--bsb-cs);
}
.circle-1{
    border-color: #101720 !important;
}
.circle-3{
    border-color: #101720 !important;
}
.circle-2{
    background-color: #dddddd !important;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}
.h1-custom{
    color: #101720;
    font-size: 4rem;
}
.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-links a:hover img {
    transform: scale(1.2);
}

.section2{
    margin-bottom: 150px;
    
}
.section-title{
    text-align: center;
}
.cv-btn{
    background-color: #101720;
    border-color: #101720;
}
.cv-btn:hover{
    background-color:#dadada;
    color: #101720;
    border-color: #101720;
}
.skill-section{
    display: block;
}
.spanLanguage{
    color: #101720;
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
 }
  
  .skills .progress .skill {
    color: #101720;
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background-color:#dddddd;
    height: 10px;
  }  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #101720;
  }
  .section3{
    background-color:#dadada;
    padding-bottom: 100px;
    height: 100%;

  }
  .aboutHeader{
    text-align: center;
  }

  .section4{
    height: 100%;
    margin-bottom: 100px !important;

  }
  
  .section5{
    height: 100%;
  }

  .aboutSpan{
    color: #101720;
  }
  .technology-grid {
    gap: 16px;
    padding: 30px;
}
.tech-icon {
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.tech-icon img {
    max-width: 50px;
    max-height: 50px;
}
.techRow{
  width: 70%;
}


.pic-container {
    position: relative;
    background-color: #f8f9fa; 
    border: 1px solid #ddd; 
    overflow: hidden; 
}
.pic-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}
.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 0; 
    transition: opacity 0.3s; 
    text-align: center;
}
.pic-container:hover .hover-text {
    opacity: 1;
}
footer{
    background-color: #101720;
}
@media only screen and (max-width: 1000px){
    h1{
        font-size: 70px !important;
    }
    #header{
        padding: 5px 0;
    }
    .hc{
        padding-top: 25px;
    }
    .shs{
        padding-top: 25px;
    }
    .pl{
        padding-top: 25px;
    }
}
@media only screen and (max-width: 450px){
    h1{
        font-size: 50px !important;
    }
    .circle-2{
        --bsb-cs: 260px !important;
    }
}